* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #333;
    font-family: sans-serif;
}

h2 {
    margin-bottom: 1em;
    color: #fff;
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
}

.buttons-group {
    margin: 0 3em;
}

.btn {
    padding: 1em 2em;
    margin: 0 1em;
    text-transform: uppercase;
    border: 1px solid #fff;
    color: #fff;
    background: none;
    border-radius: 6px;
    cursor: pointer;
    transition: color .3s, background-color .3s;
}

.btn:hover {
    color: black;
    background-color: #fff;
}

.slider-box {
    margin-bottom: 2em;
    color: #fff;
    font-size: 18px;
}

#slider {
    margin-bottom: .5em;
    width: 400px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
}

.square {
    margin: 3px;
    height: 32px;
    width: 32px;
    border: 2px solid white;
    border-radius: 6px;
    transition-property: background-color;
    transition-duration: 3s;
    margin: 7px;
}

.square:hover{
    transition-duration: 0s !important;
}