* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: sans-serif;
	background-color: #333;
	min-height: 100vh;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-color: #111;
	color: #fff;
	font-size: 6rem;
}

.counter-box {
	display: flex;
	margin: 6em 0;
}

.counter-item {
	margin: 1em;
	width: 200px;
	color: #fff;
	text-align: center;
}

.counter {
	margin: 0.3em 0;
	font-size: 4rem;
}

.emoji-style{
	font-size: 3em;
}